# Step 1: Import Necessary Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import csv

# Step 2: Load the Dataset

In [9]:
# loading the datasets
# df_geo_scores =  pd.read_csv("C:\\Users\\Tim\\OneDrive\\Documents\\Projects\\Fraudulent_financial_trans\\Geo_scores.csv")
# df_instance_scores = pd.read_csv("C:\\Users\\Tim\\OneDrive\\Documents\\Projects\\Fraudulent_financial_trans\\instance_scores.csv")
# df_lambda_wts = pd.read_csv("C:\\Users\\Tim\\OneDrive\\Documents\\Projects\\Fraudulent_financial_trans\\Lambda_wts.csv")
# df_Qset_tats = pd.read_csv("C:\\Users\\Tim\\OneDrive\\Documents\\Projects\\Fraudulent_financial_trans\\Qset_tats.csv")
# df_test_share = pd.read_csv("C:\\Users\\Tim\\OneDrive\\Documents\\Projects\\Fraudulent_financial_trans\\test_share.csv")
df_train = pd.read_csv("C:\\Users\\Tim\\OneDrive\\Documents\\Projects\\Fraudulent_financial_trans\\train.csv")

# display first 5 rows
# df_geo_scores.head()
# df_instance_scores.head()
# df_lambda_wts.head()
# df_Qset_tats.head()
# df_test_share.head()
df_train.head()

df_geo_scores =  pd.read_csv("C:\\Users\\Tim\\OneDrive\\Documents\\Projects\\Fraudulent_financial_trans\\Geo_scores.csv")
df_geo_scores.head()

       id  geo_score
0   26674       4.48
1  204314       4.48
2  176521       5.17
3   48812      -2.41
4  126870       6.55

In [ ]:
# load dataset 2
geo_df = pd.read_csv("C:\\Users\\Tim\\OneDrive\\Documents\\Projects\\Fraudulent_financial_trans\\Geo_scores.csv")

# view dataset
geo_df.head()

       id  geo_score
0   26674       4.48
1  204314       4.48
2  176521       5.17
3   48812      -2.41
4  126870       6.55